:root {
    --primary-color: rgb(66, 103, 248);
    --primary-color-darker: rgb(34, 57, 148);
    --primary-color-dark: rgb(19, 33, 88);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.2em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: rgb(58, 57, 57);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(195, 188, 188);
    text-align: center;
}

input,  label,  button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

input:focus {
    outline: 1px solid var(--primary-color);
}

button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background: var(--primary-color-darker);
}

button:active {
    background: var(--primary-color-dark);
}

.valido {
    width: 300px;
    padding: 10px;
    margin: auto;
    background: rgb(25, 189, 25);
    border-radius: 10px;
}

.invalido {
    width: 300px;
    padding: 10px;
    margin: auto;
    background: rgb(189, 25, 25);
    border-radius: 10px;
}